{% include 'header.html' %}
<body>
  <div class = "container">
    {% include 'navbar.html' %}
  <img id = 'banner' class = "img-fluid" src = "https://ipsas-app--ubohodickson.repl.co/static/banner.jpg" height="300">
 <h1 class = "text-center">Welcome to IPSASTA</h1>
  <p class = "lead">IPSASTA is a web based Public Sector Financial application built in compliance with IPSAS. IPSASTA is developed fully by indegenous team</p>
  <p>Click <a href = "/login"> here</a> to login. </p>
    <p>Click <a href = "/dashboard"> here</a> to go to Dashboard. </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
{% include 'footer.html' %}
