 <h2 class = "text-center">REVENUE</h2>
    <div class = "row">
      <div class = "col-md-3 border"><h3>Title</h3> </div>
      <div class = "col-md-3 border"><h3>Purpose</h3> </div>
      <div class = "col-md-3 border"><h3>Date</h3> </div>
      <div class = "col-md-3 border"> <h3>Amount</h3></div>
    </div>
  {% for transaction in transactions %}
    {% if transaction.type == 'revenue' %}
      <div class = "row border">
        <div class = "col-md-3 border">{{transaction['name']}} </div>
        <div class = "col-md-3 border">{{transaction['purpose']}} </div>
        <div class = "col-md-3 border">{{transaction['date']}}</div>
        <div class = "col-md-3 border">{{transaction['amount']}}</div>
      </div>
    {% endif %}
  {% endfor %}
<br>
    <div class = "container">
    <h2 class = "text-center">EXPENSE</h2>
      <div class = "row border">
        <div class = "col-md-3 border"><h3>Title</h3> </div>
        <div class = "col-md-3 border"><h3>Purpose</h3> </div>
        <div class = "col-md-3 border"><h3>Date</h3> </div>
        <div class = "col-md-3 border"> <h3>Amount</h3></div>
      </div>
    {% for transaction in transactions %}
      {% if transaction.type == 'expense' %}
        <div class = "row border">
          <div class = "col-md-3 border">{{transaction['name']}} </div>
          <div class = "col-md-3 border">{{transaction['purpose']}} </div>
          <div class = "col-md-3 border">{{transaction['date']}}</div>
          <div class = "col-md-3 border">{{transaction['amount']}}</div>
        </div>
      {% endif %}
    {% endfor %}
    </div>